.medialink {

    margin: 10px;
}

.contactlink {

    margin: 10px;
}

#all {
    margin-top: 150px;
}

#foto {
    margin-left: 50px;
    margin-right: 15px;
}

#links {
    margin-right: 50px;
    max-width: 996px;
}

#contact {
    flex-wrap: wrap;
}